{% extends "base.html" %}
{% load static %}

{% block slider %}
{% endblock slider %}


{% block content %}
<p>Найдено записей: {{ number_of_posts }}</p>
{% for post in page_obj %}
    <div class="post">
        <p class="date-text">{{ post.publication_date }}</p>
        <h5>{{ post.title }} - (
            {% for category in post.category.all %}
                #{{ category }}
            {% endfor %})</h5>
        <img src="{{ post.main_photo.url }}" width='200' alt="" />
        <details>
            <summary>{{post.intro_text}}</summary>
            <p>{{post.main_text}}</p>
        </details>
    </div>
{% endfor %}
{% endblock content %}