{% extends "base.html" %}
{% load static i18n %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <div class="post">
        <p class="date-text">{{ post.publication_date|date:"Y-m-d"}}</p>
        {% if post.main_photo %}
            <img src="{{ post.main_photo.url }}" width='200' alt="" />
        {% endif %}
        <details>
            <summary>
                {{ post.title }} - (
                {% for category in post.category.all %}
                    #{{ category }}
                {% endfor %})
            </summary>
            <p>{{ post.main_text|safe }}</p>
        </details>
        <div class="">
            <hr>
            {% for comment in post.comment_set.all %}
            <p><i>Пользователь: </i>{{ comment.name }}</p>
            <p><i>Комментарий: </i>{{ comment.text }}</p>
            <hr>
            {% endfor %}
            <form action="{% url 'add_comment' post.id %}" method="post" class="">
            {% csrf_token %}
                <div class="">
                    <label for="postcomment" class="">
                        {% trans 'Напиши комментарий:' %}
                    </label>
                    {{ form.text }}
                </div>
                <div class="">
                    <label for="commentusername" class="">
                        {% trans 'Имя:' %}:
                    </label>
                    {{ form.name }}
                </div>
                <div class="">
                    <label for="useremail" class="">
                        {% trans 'Email:' %}
                    </label>
                    {{ form.email }}
                </div>
                <button type="submit" class="">
                    Отправить
                </button>
            </form>
        </div>
    </div>
{% endblock content %}