{% extends "base.html" %}
{% load static %}

{% block slider %}
{% endblock slider %}

{% block content %}
     {% for post in post_list %}
        <div class="post">
            <p>{{ number_of_posts }}</p>
            <p class="date-text">{{ post.publication_date }}</p>
            <h3>{{ post.title }}</h3>
            <img src="{{ post.main_photo.url }}" width='200' alt="" />
            <details>
                <summary>{{post.intro_text}}</summary>
                <p>{{post.main_text|safe}}</p>
            </details>
        </div>
    {% endfor %}
{% endblock content %}