{% load static %}
<div class="sidebar">
	<form action="{% url 'search' %}" method="get" class="">
		<input class="" type="search" placeholder="Введите запрос" name="search">
		<button class="" type="submit">Поиск</button>
	</form>
	<hr>
	<form action="{% url 'filter' %}" method="get" class="">
		<select id="agileinfo_search" name="order_by" required="">
			<option value="newest">новые вверху</option>
			<option value="oldest">старшие вверху</option>
		</select>
		<br>
		<div class="sidebar-years-list">
			{% for year in years %}
				<li class="no-bullets">
					{% if year.publication_date__year in year_query %}
						<input type="checkbox" class="checked" name="year" value="{{ year.publication_date__year }}" checked>
					{% else %}
						<input type="checkbox" class="checked" name="year" value="{{ year.publication_date__year }}">
					{% endif %}
						<span class="span editContent">{{ year.publication_date__year }} ({{ year.num_post }})</span>
				</li>
			{% endfor %}
		</div>
		<div class="sidebar-categories-list">
			{% for category in categories %}
				{% if category.category__name %}
					<li class="no-bullets">
						{% if category.category__name in category_query %}
							<input type="checkbox" class="checked" name="category" value="{{ category.category__name }}"checked>
						{% else %}
							<input type="checkbox" class="checked" name="category" value="{{ category.category__name }}">
						{% endif %}
						<span class="span editContent">{{ category.category__name }} ({{ category.num_post }})</span>
					</li>
				{% endif %}
			{% endfor %}
			{% for category in categories %}
				{% if not category.category__name %}
					<li class="no-bullets">
						{% if category.category__name in category_query %}
							<input type="checkbox" class="checked" name="category" value="{{ category.category__name }}"checked>
						{% else %}
							<input type="checkbox" class="checked" name="category" value="{{ category.category__name }}">
						{% endif %}
						<span class="span editContent"><i>Without category</i> ({{ category.num_post }})</span>
					</li>
				{% endif %}
			{% endfor %}
		</div>
		<button type="submit">Применить</button>
	</form>
</div>