{% load static %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5 pb-md-4">От нуля и старше</h2>
            </div>
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">
                    {% for post in posts %}
                        {% if post.main_photo %}
                            <div class="item work">
                                <div title="{{ post.title }}" class="img d-flex align-items-center justify-content-center rounded" style="background-image: url({{ post.main_photo.url }});">
                                    <a href="{{ post.get_absolute_url }}" class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-search"></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>